@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', serif;
}

header {
    background-color: #c4650d;
    display: flex;
    gap: 20px;
    grid-gap: 20px;
}

.logo {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
}

.menu__item a {
    color: rgb(129, 13, 13);
    text-decoration:rgb(56, 112, 42);
    background: rgb(24, 172, 140);
    padding: 2rem;
    transition: all 1s;
    
}
.menu__item a:hover {
    background: #af541e;
    border: 5px solid rgb(187, 39, 39);
    color: rgb(23, 236, 41);
}

.menu__item.active a {
    text-decoration: underline;
}
.menu__item:nth-child(2) a {
    background: rgb(123, 228, 26);
}
.imagenPrincipal {
    height: 80vh;
    background-image: url("../img/wali.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;
}

.imagenPrincipal h2 {
    transition: all .3s;
    color: rgb(226, 241, 8);
    background-color: rgba(53, 53, 52, 0);
    padding-inline: 15px;
}
.imagenPrincipal h2::selection {
    background: red;
    color: rgb(53, 95, 231);
}

.imagenPrincipal p {
    color: rgb(243, 234, 234);
    text-align: center;
}
.imagenPrincipal p::selection {
    background: #12e41c;
}

.tarjetitas {
    padding: 60px;
    display: flex;
    gap: 30px;
    transition: all .3s;
}

.tarjetita {
    animation-delay: 2s;
    transition: all .3s;
    background-color: #ce7624;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    
}

.informacion {
    padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
    transition: all .3s;
    max-width: 100%;
    
    
}

.pie {
    background-color: #d8db12;
    color: rgb(231, 227, 227);
    padding-block: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.tarjetitados {
    flex: 1;
}
